---
import Layout from "@layouts/Layout.astro"
import Hero from "@components/Hero.astro"
import Pinned from "@components/Pinned.astro"
import Footer from "@components/Footer.astro"
---

<Layout title="Pinned Sections ScrollTrigger Animations">
    <main>
        <Hero />
        <Pinned />
        <Footer />
    </main>
</Layout>

<style>
</style>
