---
interface Props {
	class?: string
	phase: string
	title: string
	body: string
}

const { title, body, phase, class: className } = Astro.props
---

<article class=`card ${className}`>
	<div class="card__phase">
		<p>{phase}</p>
	</div>

	<div class="card__tilte">
		<p>{body}</p>
		<h1 set:html={title}></h1>
	</div>
</article>

<style is:global>
	.card {
		position: absolute;
		top: 150%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%) rotate(0deg);
		width: 40%;
		height: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #000;
		border-radius: 1em;
		will-change: transform;
		overflow: hidden;

		.card__phase {
			position: absolute;
			top: 1.2em;
			left: 50%;
			transform: translateX(-50%);
			padding: 0.125em 1.25em;
			border-radius: 0.25em;
			color: #000;

			p {
				font-size: 24px;
			}
		}

		.card__tilte {
			p {
				text-align: center;
			}

			h1 {
				font-size: 80px;
				font-weight: lighter;
				line-height: 90%;

				span {
					color: transparent;
					-webkit-text-stroke: 1.25px #fff;
				}
			}
		}

		&.card-1 {
			border: 2px solid rgba(236, 183, 76, 0.35);

			.card__phase {
				background-color: #ecb74c;
			}

			.card__tilte {
				color: #ecb74c;
			}
		}

		&.card-2 {
			border: 2px solid rgba(125, 216, 205, 0.35);

			.card__phase {
				background-color: #7dd8cd;
			}

			.card__tilte {
				color: #7dd8cd;
			}
		}

		&.card-3 {
			border: 2px solid rgba(224, 255, 87, 0.35);

			.card__phase {
				background-color: #e0ff57;
			}

			.card__tilte {
				color: #e0ff57;
			}
		}

		&.card-4 {
			border: 2px solid rgba(125, 216, 205, 0.35);

			.card__phase {
				background-color: #7dd8cd;
			}

			.card__tilte {
				color: #7dd8cd;
			}
		}
	}
</style>
