---
---

<section class="hero">
</section>

<style>
    .hero {
        background-image: url('/src/assets/images/4168.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        width: 100%;
        height: 100vh;
        opacity: 0.3;
    }
</style>
