<div class="progress-bar">
    <div class="progress-bar__progress"></div>
</div>

<style>
    .progress-bar {
        position: absolute;
        top: 0;
        right: 0;
        width: 8px;
        height: 100%;
        background-color: #fff;
        /* opcity: 0 */

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background-color: #000;
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 0) 20%,
                rgba(0, 0, 0, 0) 50%,
                rgba(0, 0, 0, 0) 80%,
                rgba(0, 0, 0, 1) 100%
            );
        }

        .progress-bar__progress {
            width: 100%;
            height: 0%;
            background-color: #353531;
        }
    }
</style>
